# All data was collected from: https://transparency.entsoe.eu/

In [1]:
#Imports
import pandas as pd
import re
from src.functions import dateTo

In [2]:
#Year 2015
df2015 = pd.read_csv("./input/Generation2015.csv")
dateTo(df2015)

,Hour,Month,Day,Year,Biomass MWh,Fossil Lignite MWh,Fossil Gas MWh,Fossil Coal MWh,Fossil Oil MWh,Hydro Pumped Storage MWh,Hydro Run-of-river MWh,Hydro Water Reservoir MWh,Nuclear MWh,Other MWh,Other Renewable MWh,Solar MWh,Waste MWh,Wind MWh
0,00:00,01,01,2015,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0
1,01:00,01,01,2015,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0
2,02:00,01,01,2015,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0
3,03:00,01,01,2015,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0
4,04:00,01,01,2015,410.0,178.0,4038.0,3590.0,156.0,2109.0,952.0,743.0,7098.0,43.0,74.0,34.0,188.0,4618.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,19:00,12,31,2015,376.0,0.0,6709.0,4079.0,276.0,0.0,790.0,4838.0,7083.0,50.0,80.0,25.0,119.0,2100.0
8756,20:00,12,31,2015,392.0,0.0,5791.0,4053.0,247.0,0.0,766.0,3841.0,7082.0,54.0,79.0,21.0,121.0,2209.0
8757,21:00,12,31,2015,401.0,0.0,4822.0,3709.0,235.0,72.0,729.0,2179.0,7079.0,57.0,80.0,21.0,120.0,2417.0
8758,22:00,12,31,2015,400.0,0.0,4594.0,3339.0,234.0,290.0,710.0,1612.0,7080.0,63.0,80.0,20.0,122.0,2685.0
8759,23:00,12,31,2015,410.0,0.0,4610.0,2596.0,218.0,564.0,685.0,1662.0,7080.0,67.0,78.0,20.0,115.0,3055.0

In [3]:
#Year 2016
df2016 = pd.read_csv("./input/Generation2016.csv")
dateTo(df2016)

,Hour,Month,Day,Year,Biomass MWh,Fossil Lignite MWh,Fossil Gas MWh,Fossil Coal MWh,Fossil Oil MWh,Hydro Pumped Storage MWh,Hydro Run-of-river MWh,Hydro Water Reservoir MWh,Nuclear MWh,Other MWh,Other Renewable MWh,Solar MWh,Waste MWh,Wind MWh
0,00:00,01,01,2016,404.0,0.0,4434.0,1866.0,216.0,661.0,682.0,1840.0,7080,72.0,77.0,20.0,121.0,3333.0
1,01:00,01,01,2016,395.0,0.0,4286.0,1422.0,205.0,1161.0,660.0,1343.0,7079,76.0,78.0,20.0,122.0,3698.0
2,02:00,01,01,2016,391.0,0.0,3813.0,1146.0,202.0,2051.0,651.0,906.0,7080,81.0,71.0,20.0,122.0,4324.0
3,03:00,01,01,2016,384.0,0.0,3872.0,1081.0,200.0,3050.0,626.0,545.0,7078,87.0,71.0,20.0,119.0,5112.0
4,04:00,01,01,2016,381.0,0.0,4010.0,1108.0,213.0,3580.0,616.0,446.0,7080,88.0,71.0,20.0,121.0,5711.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,19:00,12,31,2016,337.0,904.0,4911.0,6321.0,184.0,0.0,636.0,4730.0,7103,58.0,99.0,66.0,270.0,1446.0
8780,20:00,12,31,2016,340.0,895.0,4667.0,6291.0,178.0,171.0,618.0,3567.0,7104,58.0,98.0,42.0,268.0,1491.0
8781,21:00,12,31,2016,337.0,896.0,4564.0,6242.0,177.0,392.0,589.0,2473.0,7105,57.0,99.0,31.0,274.0,1560.0
8782,22:00,12,31,2016,337.0,905.0,5116.0,6211.0,177.0,392.0,551.0,1824.0,7104,57.0,97.0,30.0,271.0,1660.0
8783,23:00,12,31,2016,341.0,901.0,5412.0,6157.0,175.0,392.0,542.0,1658.0,7104,56.0,95.0,30.0,265.0,1760.0

In [4]:
#Year 2017
df2017 = pd.read_csv("./input/Generation2017.csv")
dateTo(df2017)

,Hour,Month,Day,Year,Biomass MWh,Fossil Lignite MWh,Fossil Gas MWh,Fossil Coal MWh,Fossil Oil MWh,Hydro Pumped Storage MWh,Hydro Run-of-river MWh,Hydro Water Reservoir MWh,Nuclear MWh,Other MWh,Other Renewable MWh,Solar MWh,Waste MWh,Wind MWh
0,00:00,01,01,2017,338,900,5401,5959,176,422,504,1949,7104,57,96,30,265,1825
1,01:00,01,01,2017,337,908,4753,5723,175,857,478,1843,7104,58,96,50,265,1814
2,02:00,01,01,2017,335,915,4321,5523,175,1146,465,1350,7104,57,97,87,263,1792
3,03:00,01,01,2017,336,904,4320,5295,175,1665,462,841,7104,57,97,92,263,1712
4,04:00,01,01,2017,336,929,3920,5252,176,2000,462,417,7106,57,96,92,262,1662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,19:00,12,31,2017,267,0,3022,764,196,769,1115,1935,7095,54,80,9,238,14368
8756,20:00,12,31,2017,268,0,3205,784,184,1219,1121,1396,7096,54,79,9,240,14250
8757,21:00,12,31,2017,277,0,3266,791,195,2252,1087,1096,7095,53,80,9,240,13787
8758,22:00,12,31,2017,278,0,3552,926,196,2450,1087,1127,7092,53,81,9,237,13560
8759,23:00,12,31,2017,282,0,3471,996,194,2094,1076,1162,7057,52,79,9,237,12348

In [5]:
#Year 2018
df2018 = pd.read_csv("./input/Generation2018.csv")
dateTo(df2018)

,Hour,Month,Day,Year,Biomass MWh,Fossil Lignite MWh,Fossil Gas MWh,Fossil Coal MWh,Fossil Oil MWh,Hydro Pumped Storage MWh,Hydro Run-of-river MWh,Hydro Water Reservoir MWh,Nuclear MWh,Other MWh,Other Renewable MWh,Solar MWh,Waste MWh,Wind MWh
0,00:00,01,01,2018,275.0,0.0,3269.0,959.0,191.0,2115.0,1046.0,799.0,7057.0,51.0,77.0,9.0,238.0,11156.0
1,01:00,01,01,2018,278.0,0.0,3541.0,1014.0,191.0,2037.0,1048.0,898.0,7058.0,51.0,79.0,9.0,236.0,9437.0
2,02:00,01,01,2018,278.0,0.0,3450.0,1043.0,191.0,2126.0,1021.0,714.0,7061.0,52.0,79.0,9.0,238.0,6474.0
3,03:00,01,01,2018,279.0,0.0,3318.0,1063.0,191.0,2580.0,1033.0,661.0,7066.0,51.0,79.0,9.0,239.0,6329.0
4,04:00,01,01,2018,278.0,0.0,3334.0,1054.0,191.0,2544.0,1013.0,612.0,7069.0,51.0,77.0,9.0,238.0,6172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,19:00,12,31,2018,296.0,0.0,7241.0,2566.0,174.0,1.0,1172.0,3931.0,6074.0,62.0,95.0,33.0,280.0,3288.0
8756,20:00,12,31,2018,292.0,0.0,7025.0,2422.0,168.0,50.0,1148.0,2831.0,6076.0,61.0,94.0,31.0,286.0,3503.0
8757,21:00,12,31,2018,293.0,0.0,6562.0,2293.0,163.0,108.0,1128.0,2068.0,6075.0,61.0,93.0,31.0,287.0,3586.0
8758,22:00,12,31,2018,290.0,0.0,6926.0,2166.0,163.0,108.0,1069.0,1686.0,6075.0,61.0,92.0,31.0,287.0,3651.0
8759,23:00,12,31,2018,286.0,0.0,5601.0,1919.0,158.0,107.0,983.0,1683.0,6073.0,61.0,89.0,31.0,287.0,3809.0

In [6]:
#Year 2019
df2019 = pd.read_csv("./input/Generation2019.csv")
dateTo(df2019)

,Hour,Month,Day,Year,Biomass MWh,Fossil Lignite MWh,Fossil Gas MWh,Fossil Coal MWh,Fossil Oil MWh,Hydro Pumped Storage MWh,Hydro Run-of-river MWh,Hydro Water Reservoir MWh,Nuclear MWh,Other MWh,Other Renewable MWh,Solar MWh,Waste MWh,Wind MWh
0,00:00,01,01,2019,296.0,0.0,5573.0,1707.0,156.0,60.0,969.0,1676.0,6072.0,60.0,90.0,31.0,286.0,3774.0
1,01:00,01,01,2019,298.0,0.0,5549.0,1638.0,155.0,499.0,907.0,1124.0,6073.0,60.0,88.0,23.0,287.0,3740.0
2,02:00,01,01,2019,296.0,0.0,6036.0,1516.0,160.0,1238.0,897.0,830.0,6073.0,60.0,88.0,15.0,288.0,3697.0
3,03:00,01,01,2019,295.0,0.0,5999.0,1486.0,176.0,1317.0,910.0,944.0,6073.0,60.0,88.0,15.0,289.0,3516.0
4,04:00,01,01,2019,292.0,0.0,5913.0,1488.0,178.0,1317.0,912.0,898.0,6074.0,61.0,87.0,15.0,288.0,3384.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,19:00,12,31,2019,294.0,0.0,7821.0,430.0,151.0,0.0,1726.0,6265.0,7094.0,16.0,101.0,15.0,256.0,1672.0
8756,20:00,12,31,2019,300.0,0.0,7111.0,431.0,142.0,0.0,1583.0,5827.0,7095.0,16.0,101.0,15.0,257.0,1576.0
8757,21:00,12,31,2019,295.0,0.0,6861.0,434.0,136.0,0.0,1546.0,5651.0,7095.0,16.0,99.0,15.0,255.0,1593.0
8758,22:00,12,31,2019,288.0,0.0,7322.0,435.0,136.0,0.0,1498.0,5328.0,7097.0,15.0,100.0,15.0,255.0,1584.0
8759,23:00,12,31,2019,290.0,0.0,6974.0,435.0,121.0,268.0,1443.0,4913.0,7098.0,14.0,97.0,15.0,255.0,1596.0

In [7]:
#Year 2020
df2020 = pd.read_csv("./input/Generation2020.csv")
dateTo(df2020)

,Hour,Month,Day,Year,Biomass MWh,Fossil Lignite MWh,Fossil Gas MWh,Fossil Coal MWh,Fossil Oil MWh,Hydro Pumped Storage MWh,Hydro Run-of-river MWh,Hydro Water Reservoir MWh,Nuclear MWh,Other MWh,Other Renewable MWh,Solar MWh,Waste MWh,Wind MWh
0,00:00,01,01,2020,285,0,7113,435,110,471,1425,4829,7097,14,97,15,257,1643
1,01:00,01,01,2020,276,0,6745,420,110,516,1419,4558,7097,14,92,15,258,1696
2,02:00,01,01,2020,273,0,6497,392,110,1038,1402,4377,7097,12,92,15,260,1700
3,03:00,01,01,2020,274,0,6729,388,110,1968,1396,4482,7097,12,95,16,261,1667
4,04:00,01,01,2020,275,0,6710,395,110,2237,1379,4449,7097,12,96,26,262,1625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,19:00,12,31,2020,-,-,-,-,-,-,-,-,-,-,-,-,-,-
8780,20:00,12,31,2020,-,-,-,-,-,-,-,-,-,-,-,-,-,-
8781,21:00,12,31,2020,-,-,-,-,-,-,-,-,-,-,-,-,-,-
8782,22:00,12,31,2020,-,-,-,-,-,-,-,-,-,-,-,-,-,-
8783,23:00,12,31,2020,-,-,-,-,-,-,-,-,-,-,-,-,-,-